_col(n) {
    n*(100%/12)
}

$browser_context = 16
em($pixels, $context = $browser_context) {
    (($pixels/$context))em;
}

list-reset()
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;