$xs = em(375px);
$sm = em(576px);
$md = em(768px);
$lg = em(992px);
$xl = em(1200px);

$font_main = "Roboto", "Helvetica Neue", "Helvetica,PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "SimSun", sans-serif
$font_headings = "Roboto", Helvetica, Arial, sans-serif;
$ff_buttons = "Roboto Condensed", Helvetica, Arial, sans-serif; 